<div class="text-center jumbotron">
  <h1>Welcome to Project #2</h1>
  <h2>Map-Ed</h2>
  <h3>This is an app that allows a user to search and find schools<br> across America that teach STEM subjects and Computer Programming. </h3>
  <h4>Deployed Rails TODO App with AuthN and AuthZ.</h4>
  <br/>
</div>
